@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this line to your CSS file */

body {
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

.my-container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(20);
  }
}

.animated-image {
  animation: moveUpDown 4s linear infinite;
}
